/*
 * Copyright (c) 2019 Brett Witherspoon
 * Copyright (c) 2019 Jason Kridner
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <ti/cc1352r.dtsi>

#define BTN_GPIO_FLAGS (GPIO_INT_ACTIVE_LOW | GPIO_PUD_PULL_UP)

/ {
	model = "BeagleBoard.org BeagleDust";
	compatible = "beagleboard.org,beagledust";

	aliases {
		sw0 = &btn0;
		led0 = &led_click1;
		led1 = &led_click2;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};

	leds {
		compatible = "gpio-leds";
		led_2GHz: led_0 {
			gpios = <&gpio0 25 0>;
			label = "2.4GHz LED";
		};
		led_900MHz: led_1 {
			gpios = <&gpio0 26 0>;
			label = "900MHz LED";
		};
		led_click1: led_2 {
			gpios = <&gpio0 27 0>;
			label = "Click1 LED";
		};
		led_click2: led_3 {
			gpios = <&gpio0 28 0>;
			label = "Click2 LED";
		};
		led_5V_EN: led_4 {
			gpios = <&gpio0 29 0>;
			label = "5V EN LED";
		};
	};

	keys {
		compatible = "gpio-keys";
		btn0: btn_0 {
			gpios = <&gpio0 30 BTN_GPIO_FLAGS>;
			label = "User button";
		};
	};
};

&trng {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

// TODO: verify RX/TX perspective
// TODO: may need to move for bootloader
// On the prototypes, this is shared with the USB header
&uart0 {
	status = "okay";
	current-speed = <115200>;
	tx-pin = <13>;
	rx-pin = <12>;
};

// TODO: verify RX/TX perspective
&uart1 {
	status = "okay";
	current-speed = <115200>;
	tx-pin = <22>;
	rx-pin = <21>;
};

&i2c0 {
	status = "okay";
	scl-pin = <4>;
	sda-pin = <5>;
};

// TODO: Figure out how to add a second CS
&spi0 {
	status = "okay";
	sck-pin = <10>;
	mosi-pin = <9>;
	miso-pin = <8>;
	cs-pin = <15>;
	cs-gpios = <&gpio0 15 0>;
};

// TODO: Add PWMs (timers?)
// TODO: Add analog pins
// TODO: Add GPIOs for reset and interrupt
