# SPDX-License-Identifier: Apache-2.0
CONFIG_AARCH64_IMAGE_HEADER=y
CONFIG_ARMV8_A_NS=y
CONFIG_ARM64_VA_BITS_36=y
CONFIG_ARM64_PA_BITS_36=y
CONFIG_CACHE_MANAGEMENT=y
CONFIG_DCACHE_LINE_SIZE_DETECT=y
CONFIG_ICACHE_LINE_SIZE_DETECT=y
CONFIG_SOC_SERIES_AM6X_A53=y
CONFIG_SOC_AM6254_A53=y
CONFIG_BOARD_BEAGLEPLAY_AM62_A53=y
CONFIG_XIP=n
