/*
 * Copyright (c) 2020 Friedt Professional Engineering Services, Inc
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 #include <dt-bindings/greybus/greybus.h>

/ {
	resources {
		compatible = "test,greybus";
	};

	greybus0 {
		compatible = "zephyr,greybus";
		label = "GREYBUS_0";
		greybus;
	};
};

&{/greybus0} {
	status = "okay";

	gbstring0: gbstring0 {
		status = "okay";
		compatible = "zephyr,greybus-string";
		label = "GBSTRING_0";
		greybus-string = "Zephyr Project RTOS";
	};

	gbstring1: gbstring1 {
		status = "okay";
		compatible = "zephyr,greybus-string";
		label = "GBSTRING_1";
		greybus-string = "Greybus Service Sample Application";
	};

	gbinterface0 {
		status = "okay";
		compatible = "zephyr,greybus-interface";
		label = "GBINTERFACE_0";
		vendor-string-id = <&gbstring0>;
		product-string-id = <&gbstring1>;
		greybus-interface;
	};

	gbbundle0 {
		status = "okay";
		compatible = "zephyr,greybus-bundle";
		label = "GBBUNDLE_0";
		greybus-bundle;
		bundle-class = <BUNDLE_CLASS_CONTROL>;

		gbcontrol0 {
			status = "okay";
			compatible = "zephyr,greybus-control";
			label = "GBCONTROL_0";
			greybus-controller;
		};
	};
	
	gbbundle1 {
		status = "okay";
		compatible = "zephyr,greybus-bundle";
		label = "GBBUNDLE_1";
		greybus-bundle;
		bundle-class = <BUNDLE_CLASS_BRIDGED_PHY>;		
				
		gbgpio0 {
			status = "okay";
			compatible = "zephyr,greybus-gpio-controller";
			label = "GBGPIO_0";
			greybus-gpio-controller = <&gpio0>;
		};
	};
};
