/*
 * Copyright (c) 2020 Friedt Professional Engineering Services, Inc
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&spi0 {
	status = "okay";
	
	test_spi_at25: at25@0 {
		status = "okay";
        compatible = "atmel,at25";
        label = "EEPROM_1";
        reg = <0x0>;
        spi-max-frequency = <0>;
        size = <65536>;
        pagesize = <256>;
        address-width = <24>;
        timeout = <5>;
        /* wp-gpios = <&test_gpio 0 0>; */
        /* read-only; */
	};

	/* i2c eeprom */
/*
	eeprom@57 {
		status = "okay";
		compatible = "atmel,at24";
		reg = <0x57>;
		label = "EEPROM_1";
		size = <256>;
		pagesize = <8>;
		address-width = <8>;
		timeout = <5>;
	};
*/
};
