/*
 * Copyright (c) 2020, Jason Kridner, BeagleBoard.org Foundation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
	//0x48 ,0x49,0x4b
	adccollector0: ads1115_0@48 {
		compatible = "sgm,ads1115";
		reg = <0x48>;
		label = "ADS-ADC-COLLTOR-0";
	};

	adccollector1: ads1115_1@49 {
		compatible = "sgm,ads1115";
		reg = <0x49>;
		label = "ADS-ADC-COLLTOR-1";
	};

	adccollector2: ads1115_2@4b {
		compatible = "sgm,ads1115";
		reg = <0x4b>;
		label = "ADS-ADC-COLLTOR-2";
	};

};
