# BeaglePlay CC1352 board configuration

# Copyright (c) 2022 Jason Kridner, BeagleBoard.org Foundation
# SPDX-License-Identifier: Apache-2.0

if BOARD_BEAGLEPLAY_CC1352

config BOARD
	default "beagleplay_cc1352"

if SERIAL

config PINCTRL
	default y

endif # SERIAL

if PINCTRL

config PINCTRL_DYNAMIC
	default y

config PINCTRL_CC13XX_CC26XX
	default y

endif # PINCTRL

if NETWORKING

CONFIG_IEEE802154=y
CONFIG_NET_PKT_TX_COUNT=6
CONFIG_NET_BUF_DATA_SIZE=128
CONFIG_IEEE802154_CC13XX_CC26XX=y
CONFIG_IEEE802154_CC13XX_CC26XX_SUB_GHZ=y
CONFIG_WPANUSB_DEVICE_VALID_CHANNELS=0x07FFFFFF

endif # NETWORKING

endif # BOARD_BEAGLEPLAY_CC1352
